<h1> New Product </h1>
<%= form_for @product, url: {action: "create"} do |f| %>


  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p><b> Title: </b></br><%=f.text_field :title %> </p>
<p><b> Description: </b></br><%=f.text_area :description %> </p>
<p><b> Img_url: </b></br><%=f.text_field :image_url %> </p>

<p><b> Price: </b></br><%=f.text_field :price %> </p>

<p><%= f.submit "Create Product" %> </p>
 <%end %>